@import '../../../styles/colors';

.user-data-item {
    border-top: 0.1rem solid rgba(#fff, 0.1);
    &__label {
        color: $user-data-label-color;
        font-size: 1.4rem;
        &--smaller {
            display: inline-block;
            font-size: 1.1rem;
            color: lighten($user-data-label-color, 15%);
        }
        > .user-data-item__label--smaller {
            margin-left: 1rem;
        }
    }
    &__value {
        font-size: 2rem;
        color: $user-data-value-color;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    + .user-data-item {
        margin-top: 2rem;
    }
}