$sidePadding: 4rem;

#dialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition-property: background-color;
    transition-timing-function: ease-in-out;

    .dialog-box {
        width: 96%;
        max-width: 80rem;
        max-height: 96vh;
        min-height: 20rem;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -5rem;
        transform: translate3d(-50%, -50%, 0);
        background-color: rgba(#cbcbcb, 1);
        opacity: 0;
        transition-property: opacity, margin-top;
        transition-timing-function: ease-in-out;
        color: #333;
        padding: 2rem 0;
    }

    .inner-box {
        padding: $sidePadding;
        form {
            width: auto;
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
        }
        .form-divider {
            background-color: #999;
        }
    }
    &.has-title .inner-box {
        padding-top: 1rem;
    }

    .main-title {
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        padding: 2rem ($sidePadding+2rem) 2rem $sidePadding;
    }

    .close-button {
        width: 4rem;
        height: 4rem;
        border: none;
        background-color: rgba(0, 0, 0, 0.3);
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    &.appear {
        background-color: rgba(0, 0, 0, 0.5);
        .dialog-box {
            opacity: 1;
            margin-top: 0;
        }
    }
}
