@import './../../../styles/colors';

.table-wrapper {
    overflow: hidden;
    overflow-x: auto;
    position: relative;
}
.table-compo {
    text-align: left;
    background-color: $table-background;
    margin: 2rem 0 0;
    border-radius: 0.4rem;
    th, td {
        padding: 1.4rem 1.8rem 1.2rem;
        font-size: 1.4rem;
        &.sort-column {
            font-weight: 700;
        }
    }
    th {
        vertical-align: bottom;
        position: relative;
        &.sort-available {
            &:after {
                display: inline-block;
                content: "";
                width: 0.1rem;
                height: 0.1rem;
                border: 0.5rem solid transparent;
                margin-left: 0.5rem;
                margin-bottom: -0.3rem; 
            }
        }
        &.sort-asc {
            &:after {
                border-bottom: 0.5rem solid $font-color;
                margin-bottom: 0.1rem;
            }
        }
        &.sort-desc {
            &:after {
                border-top: 0.5rem solid $font-color;
            }
        }
        &.sort-available {
            transition: background-color 0.2s ease-in-out;
        }
        &.sort-available:hover {
            cursor: pointer;
            background-color: rgba(#000, 0.2);
        }
        .table-accessibility-sort {
            width: 1px;
            height: 1px;
            font-size: 0;
            line-height: 0;
            overflow: hidden;
            padding: 0;
            margin: 0;
            position: absolute;
            left: -800px;
            top: -800px;
        }
    }
    thead { background-color: $table-thead-background; }
    tbody {
        td {
            background-color: rgba(0, 0, 0, 0.1);
        }
        tr:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    tbody {
        tr {
            transition: background-color 0.08s ease-in-out;
        }
        tr:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
        tr.table-comp-empty-state td {
            text-align: center;
            padding-top: 5rem;
            padding-bottom: 5rem;
            font-size: 2rem;
            color: rgba(255, 255, 255, 0.2);
        }
        tr.table-comp-empty-state:hover {
            background-color: rgba(255, 255, 255, 0);
        }
    }
}