.view-title {
    > * {
        display: inline-block;
        position: relative;
        padding-right: 5rem;
        width: auto;
    }
    .spinner-icon {
        position: absolute;
        top: 0;
        right: 0;
    }
}