$marginBottom: 1rem;

form {
    width: 100%;
    padding: 4rem;
    position: relative;
    text-align: right;

    .spinner-icon {
        vertical-align: middle;
        width: 2.4rem;
        height: 2.4rem;
        border-width: 0.2rem;
        margin-right: 1rem;
    }
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form-msg {
    margin-bottom: $marginBottom;
    min-height: 2.4rem;
    color: red;
    text-align: right;
    font-size: 1.6rem;
}

.form-elem {
    width: 100%;
    margin-bottom: $marginBottom;
    font-size: 0;
    text-align: right;
    label {
        display: inline-block;
    }
    &__label {
        font-size: 1.5rem;
        display: inline-block;
        max-width: 16rem;
        padding-right: 1rem;
        text-align: left;
    }
}
