@import '../../../styles/colors';
$tab-total-height: 4.5rem;

.tab-system {
    width: 100%;
    height: $tab-total-height;
    // vertical-align: bottom;
    button {
        position: relative;
        z-index: 10;
        bottom: 0;
        font-weight: 700;
        background-color: $tab-button-background;
        padding: 1rem 2.5rem;
        margin-top: 0.8rem;
        transition: padding-top 0.2s ease-in-out,
                    background-color 0.2s ease-in-out,
                    border-top-height 0.2s ease-in-out,
                    box-shadow 0.2s ease-in-out;
        &:hover {
            background-color: lighten($tab-button-background, 20%);
        }
        + button {
            border-left: 0.1rem solid rgba(#000, 0.2);
        }
        &.current {
            z-index: 20;
            background-color: $tab-button-selected-background;
            padding-top: 1.5rem;
            margin-top: 0;
            border-top: 0.3rem solid rgba(#fff, 0.5);
            box-shadow: 0 -0.2rem 1rem rgba(#000, 0.5);
            border-left: none;
            &:hover {
                background-color: lighten($tab-button-selected-background, 20%);
            }
            + button {
                border-left: none;
            }
        }
        &:first-child {
            border-radius: 0.4rem 0 0 0;
        }
        &:last-child {
            border-radius: 0 0.4rem 0 0;
        }
    }
}