.universe-item {
    display: inline-block;
    background: rgb(201,201,201);
    background: linear-gradient(150deg, rgba(201,201,201,1) 0%, rgba(152,152,152,1) 100%);
    width: 16rem;
    height: 16rem;
    cursor: pointer;
    vertical-align: top;
    h3 {
        margin: 1rem 0.4rem 0;
        padding: 0;
        font-size: 1.4rem;
        line-height: 1.2;
        color: #444;
    }
    span {
        font-size: 1.1rem;
        color: #666;
        display: inline-block;
        padding: 0 0.4rem;
    }
    p {
        font-size: 1.2rem;
        color: #444;
        margin: 0.4rem;
        padding: 0.4rem 0 0;
        display: block;
        border-top: 0.1rem solid #ababab;
    }
}