.universe-item {
    display: inline-block;
    background: rgb(201,201,201);
    background: linear-gradient(150deg, rgba(201,201,201,1) 0%, rgba(152,152,152,1) 100%);
    width: 16rem;
    height: 16rem;
    cursor: pointer;
    vertical-align: top;
    position: relative;

    h3 {
        margin: 0 1.2rem;
        width: 13.6rem;
        padding: 0;
        font-size: 1.4rem;
        line-height: 1.2;
        color: #444;
        display: block;
        position: relative;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }
}