$font-color: #dae0e0;
$font-color-grey: #666;
$font-color-invert: #121212;
$background-color: #121212;

$form-msg-color: green;
$form-error-msg-color: red;
$form-field-error-color: red;
$form-field-error-msg-color: red;
$form-field-disabled-back: #dddddd;

$form-button-color: #dae0e0;
$form-button-color-hover: #ababab;
$form-button-color-selected: #666;
$form-button-text-color: #121212;
$form-button-delete-color: #990000;

$table-background: #333;
$table-thead-background: #666;

$user-data-label-color: #666;
$user-data-value-color: #fff;

$tab-button-background: #888;
$tab-button-selected-background: #999;