$font-color: #dae0e0;
$background-color: #121212;

$form-msg-color: green;
$form-error-msg-color: red;
$form-field-error-color: red;
$form-field-error-msg-color: red;

$form-button-color: #dae0e0;
$form-button-text-color: #121212;